table {
    height: 600px !important;
    width: 600px !important;
    outline: black 3px solid;
    border-collapse: collapse;
}

    tr {
        height: 75px !important;
    }

    td {
        height: 75px !important;
        width: 75px !important;
        padding: 0;
    }

.occupied, .empty {
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

.black {
    background: #235E0C;
    color: white;
}

.white {
    background: #D0D6B3;
    color: black;
}
