#kingW {
    background: url('../img/chess-pieces.svg') no-repeat 0px 0px;
    width: 45px;
    height: 45px;
}

#queenW {
    background: url('../img/chess-pieces.svg') no-repeat -45px 0px;
    width: 45px;
    height: 45px;
}

#bishopW {
    background: url('../img/chess-pieces.svg') no-repeat -90px 0px;
    width: 45px;
    height: 45px;
}

#knightW {
    background: url('../img/chess-pieces.svg') no-repeat -135px 0px;
    width: 45px;
    height: 45px;
}

#rookW {
    background: url('../img/chess-pieces.svg') no-repeat -180px 0px;
    width: 45px;
    height: 45px;
}

#pawnW {
    background: url('../img/chess-pieces.svg') no-repeat -225px 0px;
    width: 45px;
    height: 45px;
}

#kingB {
    background: url('../img/chess-pieces.svg') no-repeat 0px -45px;
    width: 45px;
    height: 45px;
}

#queenB {
    background: url('../img/chess-pieces.svg') no-repeat -45px -45px;
    width: 45px;
    height: 45px;
}

#bishopB {
    background: url('../img/chess-pieces.svg') no-repeat -90px -45px;
    width: 45px;
    height: 45px;
}

#knightB {
    background: url('../img/chess-pieces.svg') no-repeat -135px -45px;
    width: 45px;
    height: 45px;
}

#rookB {
    background: url('../img/chess-pieces.svg') no-repeat -180px -45px;
    width: 45px;
    height: 45px;
}

#pawnB {
    background: url('../img/chess-pieces.svg') no-repeat -225px -45px;
    width: 45px;
    height: 45px;
}
