html, body {
    height: 100%;
}

body {
    margin: 0;
    background: url(../img/wood.jpg);
}

.header {
    display: block;
    position: relative;
    height: 35px;
    width: 100%;
    margin: 0;
}

    .hContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        margin: 0;
    }

        .button {
            margin: 0;
            padding: 0;
            width: 33.33%;
            text-align: center;
            background: #FAFAFA;
            outline: 3px solid #DEDEDE;
        }

            .button a {
                margin: 0 auto;
                width: 100%;
                height: 100%;
                line-height: 100%;
                color: black;
                text-decoration: none;
            }

                .button a p {
                    text-align: center;
                    height: 100%;
                    line-height: 35px;
                    font-family: 'Segoe UI', sans-serif;
                    font-size: 1.2rem;
                    margin: auto auto;
                }

        .icon {
            height: 35px;
            width: 35px;
            margin-right: 3px;
        }

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

    .content {
        margin: 1rem;
        font-family: 'Segoe UI', sans-serif;
        font-size: 1.3rem;
        color: white;
    }

        .content p {
            margin: 0 0.5rem;
        }

    .push, .controls {
        width: 33%;
        margin-top: calc(2rem + 3px);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .board {
        margin: 0 auto;
        margin-top: 2rem;
    }

    .controls {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
    }
        .controls * {
            width: 100%;
        }

        .info {

        }

        .controlBtn {
            background: #FAFAFA;
        }

            .controlBtn p {
                font-family: 'Segoe UI', sans-serif;
                font-size: 1.4rem;
                margin: 0.1rem;
            }

@media screen and (max-width: 650px) {

}
